@*<div class="main">
     <h1>Personalized Frames</h1>
      <div class="container">
          <img src=@Model>
     </div> 
</div>*@

<section class="product">
            <img src=@Model>
</section>
        