@{
    Layout = "_LayoutFinal";
     ViewData["action"] = "/Birthday/BirthdayGift";
     ViewData["all"] = "BirthdayGift";
    ViewData["call"] = "Birthday";
}
<div class="fashion_section">
    <div>
<h1 class="fashion_taital">Birthday Gifts</h1>
</div>
<div class="item-container">

    @foreach(InventoryItem item in Model)
    {
        <partial name="_PartialItems" model=@item />
    }

</div>
</div>



      @*<!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Birthday Gifts</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Floating Candles</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/1.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                              
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                <h4 class="shirt_text">Candles</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Birthday card</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/33.jpg"></div>
                                 <br />
                                 <br />
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                   <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>

                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Birthday card</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/33.jpg"></div>
                                 <br />
                                 <br />
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                   <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="main_slider" class="carousel slide">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                    
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Chocolate Cake</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <br />
                                 <div class="tshirt_img"><img src="~/images/4.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                   <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Vanilla Cake</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/cake2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                   <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                <h4 class="shirt_text">Party poppers</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <br />
                                 <div class="tshirt_img"><img src="~/images/6.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                   <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="main_slider" class="carousel slide">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Ferraro Rocher(Pack of 12) </h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/perfume.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Metallic Balloons</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/mBalloon.jpg"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">Cup Cakes(Box of 4)</h4>
                                 <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                 <br />
                                 <br />
                                 <br />
                                 <div class="tshirt_img"><img src="~/images/cupcake.jpg"></div>
                                 
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">Add To Cart</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- fashion section end -->
    *@