@{
    Layout = "_LayoutFinal";
    ViewData["all"] = "Home";
    ViewData["call"] = "Home";
}
      <!-- fashion section start -->
     <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Birthday Gifts</h1>
                     <div class="fashion_section_2">
                              <div class="box_main_1">
                                 
                                 @*<p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>*@
                                 <div class="tshirt_img"><img src="~/images/main1.jpg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/Birthday/BirthdayGift">See More</a></div>
                                 </div>
                              </div>
                           </div>
                          
                           </div>
                        </div>
                        </div>
         <div>


        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">  
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Anniversary Items</h1>
                     <div class="fashion_section_2">
                       
                              <div class="box_main_1">
                                
                                 @*<p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>*@
                                 <div class="tshirt_img"><img src="~/images/main2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/Anniversary/AnniversaryGifts">See More</a></div>
                                 </div>
                              </div>
                           </div>
                          
                        </div>
                     </div>

                </div>
                </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                  
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Gift Basket</h1>
                     <div class="fashion_section_2">
                       
                              <div class="box_main_1">
                                
                                 @*<p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>*@
                                 <div class="tshirt_img"><img src="~/images/abc2.jpeg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/GiftBaskets/Basket">See More</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
           
         </div>
      </div>
      </div>
      