@*@{
    Layout = "_Layout";
}
      <!-- fashion section start -->
     <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Birthday Gifts</h1>
                     <div class="fashion_section_2">
                              <div class="box_main_1">
                                 
                                 <p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/main1.jpg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/Birthday/BirthdayGift">See More</a></div>
                                 </div>
                              </div>
                           </div>
                          
                           </div>
                        </div>
                        </div>
         <div>


        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">  
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Anniversary Items</h1>
                     <div class="fashion_section_2">
                       
                              <div class="box_main_1">
                                
                                 <p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/main2.jpg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/Anniversary/AnniversaryGifts">See More</a></div>
                                 </div>
                              </div>
                           </div>
                          
                        </div>
                     </div>

                </div>
                </div>
            <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                  
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Gift Basket</h1>
                     <div class="fashion_section_2">
                       
                              <div class="box_main_1">
                                
                                 <p class="price_text">Starting Price  <span style="color: #262626;">$ 30</span></p>
                                 <div class="tshirt_img"><img src="~/images/abc2.jpeg"></div>
                                 <div class="btn_main">
                                    <div class="seemore_bt"><a href="/GiftBaskets/Basket">See More</a></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
           
         </div>
      </div>
      </div>
      *@

@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Replace with your desired background color */

}
* {box-sizing: border-box;}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin: 0 10px; /* Adjust margin as needed */
}


/*.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}*/
/*.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}*/

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
#signUp{
    cursor:pointer;
    color:blue;
    text-align: center;
    font-weight: bold;
}
/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.prompt {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    color: #721c24;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

</style>
</head>
<body>
<div class="prompt">@Model</div>
<div class="button_container">
<button class="open-button" onclick="openForm()">Enter As Admin</button>
<br />

<button class="open-button" onclick="openForm2()" >Go To Shop</button>

<br />
</div>
<div class="form-popup" id="myForm">
  <form action="/Home/adminLogin" class="form-container" method="post">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="Email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>
 
    <button type="submit" class="btn" onclick="closeForm()">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>


<div class="form-popup" id="myForm2">
  <form action="/Home/userLogin" class="form-container" method="post">
    <h1>Login</h1>
    <i>Not registered?<p id="signUp" onclick="closeForm2()" >SIGNUP</p></i>
    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Enter Name" name="UserName" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>
 
    <button type="submit" class="btn" onclick="closeForm2()">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
  </form>
</div>

<div class="form-popup" id="myForm3">
  <form action="/Home/userSignUp" class="form-container" method="post">
    <h1>Signup</h1>
    <label for="email"><b>Username</b></label>
    <input type="text" placeholder="Enter Email" name="UserName" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>
 
    <button type="submit" class="btn" onclick="closeForm3()">SignUp</button>
    <button type="button" class="btn cancel" onclick="closeForm3()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
function closeForm2() {
   document.getElementById("myForm2").style.display = "none";
}
function closeForm3(){ 
    document.getElementById("myForm3").style.display = "none";
}



function openForm2(){
    document.getElementById("myForm2").style.display = "block";
}

document.getElementById("signUp").addEventListener('click', function() {
  document.getElementById('myForm3').style.display = 'block';
});

</script>

</body>
</html>

    
