@{
    Layout = "_Layout2";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.container_hh {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header_hh {
    text-align: center;
    margin-bottom: 30px;
}

.h1 {
    color: #333;
    font-size: 28px;
    margin: 20px 0;
}

.hh2{
    color: #333;
    font-size: 24px;
    margin: 20px 0 10px;
}

p {
    color: #555;
}

ol, ul {
    margin-left: 20px;
}

address {
    margin-top: 10px;
    font-style: normal;
}
  </style>
    <title>Return Policy</title>
</head>
<body>
    <div class="header_hh">
        <div class="h1">Return Policy</div>
    </div>
    
    <div class="container_hh">
        <div class="hh2">30-Day Return Policy</div>
        <p>We want you to be completely satisfied with your purchase. If you're not happy with your item, you may return it within 30 days of receiving it for a refund or exchange.</p>
        
        <div class="hh2">Conditions for Returns</div>
        <p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>
        
        <div class="hh2">Return Process</div>
        <p>To initiate a return, please follow these steps:</p>
        <ol>
            <li>Contact our customer service team by email at <a href="mailto:gifthavenreturn@gmail.com">gifthavenreturn@gmail.com</a> or by phone at 1-800-123-4567 to notify them of your return.</li>
            <li>Package your item securely, including a copy of the original invoice or order confirmation.</li>
            <li>Ship the item to our return address:</li>
        </ol>
        <address>
            GiftHaven<br>
            Returns Department<br>
            123 Example Street<br>
            Lahore, Punjab, 54600<br>
            Pakistan
        </address>
        
        <div class="hh2">Refunds</div>
        <p>Once we receive your returned item and it is inspected, we will send you an email notification regarding the status of your refund. If approved, the refund will be processed, and a credit will be applied to your original method of payment within a certain number of days.</p>
        
        <div class="hh2">Exchanges</div>
        <p>If you would like to exchange your item for a different product or size, please contact our customer service team to arrange the exchange. Additional charges may apply if there is a price difference between the items.</p>
    </div>

</body>
</html>
