@*<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="/Home/Index" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">You have 4 items in your cart</p>
                  </div>
                  <div>
                    <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                        class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Iphone 11 pro</h5>
                          <p class="small mb-0">256GB, Navy Blue</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">2</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$900</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Samsung galaxy Note 10 </h5>
                          <p class="small mb-0">256GB, Navy Blue</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">2</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$900</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>Canon EOS M50</h5>
                          <p class="small mb-0">Onyx Black</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">1</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$1199</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3 mb-lg-0">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>MacBook Pro</h5>
                          <p class="small mb-0">1TB, Graphite</p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">1</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">$1799</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Card details</h5>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>

                    <p class="small mb-2">Card type</p>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-visa fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i
                        class="fab fa-cc-amex fa-2x me-2"></i></a>
                    <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

                    <form class="mt-4">
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                          placeholder="Cardholder's Name" />
                        <label class="form-label" for="typeName">Cardholder's Name</label>
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                          placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                        <label class="form-label" for="typeText">Card Number</label>
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="text" id="typeExp" class="form-control form-control-lg"
                              placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeExp">Expiration</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input type="password" id="typeText" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeText">Cvv</label>
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">$4798.00</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">$20.00</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">$4818.00</p>
                    </div>

                    <button type="button" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span>$4818.00</span>
                        <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
*@
<head>
    <link rel="stylesheet" href="~/css/stylecart.css">
     <script src="~/js/script.js"></script>
</head>
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-help" viewBox="0 0 24 24">
<title>help</title>
<path d="M15.047 11.25c0.563-0.563 0.938-1.359 0.938-2.25 0-2.203-1.781-3.984-3.984-3.984s-3.984 1.781-3.984 3.984h1.969c0-1.078 0.938-2.016 2.016-2.016s2.016 0.938 2.016 2.016c0 0.563-0.234 1.031-0.609 1.406l-1.219 1.266c-0.703 0.75-1.172 1.734-1.172 2.813v0.516h1.969c0-1.5 0.469-2.063 1.172-2.813zM12.984 18.984v-1.969h-1.969v1.969h1.969zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z"></path>
</symbol>
<symbol id="icon-face" viewBox="0 0 24 24">
<title>face</title>
<path d="M12 20.016c4.406 0 8.016-3.609 8.016-8.016 0-0.797-0.141-1.547-0.328-2.25-0.703 0.188-1.453 0.234-2.25 0.234-3.375 0-6.328-1.641-8.156-4.219-0.984 2.391-2.906 4.359-5.25 5.391-0.047 0.281-0.047 0.563-0.047 0.844 0 4.406 3.609 8.016 8.016 8.016zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984zM15 11.766c0.703 0 1.266 0.516 1.266 1.219s-0.563 1.266-1.266 1.266-1.266-0.563-1.266-1.266 0.563-1.219 1.266-1.219zM9 11.766c0.703 0 1.266 0.516 1.266 1.219s-0.563 1.266-1.266 1.266-1.266-0.563-1.266-1.266 0.563-1.219 1.266-1.219z"></path>
</symbol>
<symbol id="icon-navigate_before" viewBox="0 0 24 24">
<title>navigate_before</title>
<path d="M15.422 7.406l-4.594 4.594 4.594 4.594-1.406 1.406-6-6 6-6z"></path>
</symbol>
<symbol id="icon-check" viewBox="0 0 24 24">
<title>check</title>
<path d="M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z"></path>
</symbol>
<symbol id="icon-close" viewBox="0 0 24 24">
<title>close</title>
<path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path>
</symbol>
<symbol id="icon-credit-card" viewBox="0 0 32 32">
<title>credit-card</title>
<path d="M4 22h4v-2h-4v2zM10 22h4v-2h-4v2zM12 16h-8v2h8v-2zM8 14h2l4-4h-2l-4 4zM14 18h6v-2h-6v2zM30 6c-1 0-27 0-28 0s-2 1-2 2 0 15 0 16 1 2 2 2 27 0 28 0 2-1 2-2 0-15 0-16-1-2-2-2zM30 14v9s0 1-1 1h-26c-1 0-1-1-1-1v-9h2l4-4h-6v-1s0-1 1-1h26c1 0 1 1 1 1v1h-12l-4 4h16z"></path>
</symbol>
<symbol id="icon-lock" viewBox="0 0 24 24">
<title>lock</title>
<path d="M15.094 8.016v-2.016c0-1.688-1.406-3.094-3.094-3.094s-3.094 1.406-3.094 3.094v2.016h6.188zM12 17.016c1.078 0 2.016-0.938 2.016-2.016s-0.938-2.016-2.016-2.016-2.016 0.938-2.016 2.016 0.938 2.016 2.016 2.016zM18 8.016c1.078 0 2.016 0.891 2.016 1.969v10.031c0 1.078-0.938 1.969-2.016 1.969h-12c-1.078 0-2.016-0.891-2.016-1.969v-10.031c0-1.078 0.938-1.969 2.016-1.969h0.984v-2.016c0-2.766 2.25-5.016 5.016-5.016s5.016 2.25 5.016 5.016v2.016h0.984z"></path>
</symbol>
<symbol id="icon-info" viewBox="0 0 24 24">
<title>info</title>
<path d="M12.984 9v-2.016h-1.969v2.016h1.969zM12.984 17.016v-6h-1.969v6h1.969zM12 2.016c5.531 0 9.984 4.453 9.984 9.984s-4.453 9.984-9.984 9.984-9.984-4.453-9.984-9.984 4.453-9.984 9.984-9.984z"></path>
</symbol>
<symbol id="icon-settings" viewBox="0 0 24 24">
<title>settings</title>
<path d="M12 15.516c1.922 0 3.516-1.594 3.516-3.516s-1.594-3.516-3.516-3.516-3.516 1.594-3.516 3.516 1.594 3.516 3.516 3.516zM19.453 12.984l2.109 1.641c0.188 0.141 0.234 0.422 0.094 0.656l-2.016 3.469c-0.141 0.234-0.375 0.281-0.609 0.188l-2.484-0.984c-0.516 0.375-1.078 0.75-1.688 0.984l-0.375 2.625c-0.047 0.234-0.234 0.422-0.469 0.422h-4.031c-0.234 0-0.422-0.188-0.469-0.422l-0.375-2.625c-0.609-0.234-1.172-0.563-1.688-0.984l-2.484 0.984c-0.234 0.094-0.469 0.047-0.609-0.188l-2.016-3.469c-0.141-0.234-0.094-0.516 0.094-0.656l2.109-1.641c-0.047-0.328-0.047-0.656-0.047-0.984s0-0.656 0.047-0.984l-2.109-1.641c-0.188-0.141-0.234-0.422-0.094-0.656l2.016-3.469c0.141-0.234 0.375-0.281 0.609-0.188l2.484 0.984c0.516-0.375 1.078-0.75 1.688-0.984l0.375-2.625c0.047-0.234 0.234-0.422 0.469-0.422h4.031c0.234 0 0.422 0.188 0.469 0.422l0.375 2.625c0.609 0.234 1.172 0.563 1.688 0.984l2.484-0.984c0.234-0.094 0.469-0.047 0.609 0.188l2.016 3.469c0.141 0.234 0.094 0.516-0.094 0.656l-2.109 1.641c0.047 0.328 0.047 0.656 0.047 0.984s0 0.656-0.047 0.984z"></path>
</symbol>
<symbol id="icon-wallpaper" viewBox="0 0 24 24">
<title>wallpaper</title>
<path d="M3.984 12.984v7.031h7.031v1.969h-7.031c-1.078 0-1.969-0.891-1.969-1.969v-7.031h1.969zM20.016 20.016v-7.031h1.969v7.031c0 1.078-0.891 1.969-1.969 1.969h-7.031v-1.969h7.031zM20.016 2.016c1.078 0 1.969 0.891 1.969 1.969v7.031h-1.969v-7.031h-7.031v-1.969h7.031zM17.016 8.484c0 0.844-0.656 1.5-1.5 1.5s-1.5-0.656-1.5-1.5 0.656-1.5 1.5-1.5 1.5 0.656 1.5 1.5zM9.984 12.984l3 3.703 2.016-2.672 3 3.984h-12zM3.984 3.984v7.031h-1.969v-7.031c0-1.078 0.891-1.969 1.969-1.969h7.031v1.969h-7.031z"></path>
</symbol>
</defs>
</svg>

<div class="meh">
  <div class="content"><button class="js-toggle-cart">toggle</button></div>
  <div class="cart">
    <div class="cart__overlay"></div>
    <div class="cart__contents">
      <div class="cart__products">
        <h2>Your Cart</h2>
      <p class="microcopy">An overview of your selected products.</p>
      <div class="products">
        <div class="product">
          <div class="product__1">
            <div class="product__thumbnail"></div>
            <div class="product__details">
              <div style="margin-bottom: 8px;"><b>Canvas Print</b></div>
              <div style="font-size: 90%;">Size: <span class="tertiary">12" x 10"</span></div>
              <div style="font-size: 90%;">Frame: <span class="tertiary">0.75"</span></div>
              <div style="font-size: 90%;">Edge: <span class="tertiary">Photo Wrap</span></div>
              <div style="margin-top: 8px;"><a href="#">change</a></div>
            </div>
          </div>
          <div class="product__2">
            <div>
              <div class="input input--select input--small">
                <label for="country" class="input__label">Quantity:</label>
                <select name="country" id="country" class="input__input">
                  <option>1</option>
                  <option>2</option>
                  <option disabled>-------</option>
                  <option>Delete</option>
                </select>
              </div>
            </div>
            <div class="product__price"><b>$1,234.56</b></div>
          </div>
        </div>
        <div class="product">
          <div class="product__1">
            <div class="product__thumbnail"></div>
            <div class="product__details">
              <div style="margin-bottom: 8px;"><b>Canvas Print</b></div>
              <div style="font-size: 90%;">Size: <span class="tertiary">12" x 10"</span></div>
              <div style="font-size: 90%;">Frame: <span class="tertiary">0.75"</span></div>
              <div style="font-size: 90%;">Edge: <span class="tertiary">Photo Wrap</span></div>
              <div style="margin-top: 8px;"><a href="#">change</a></div>
            </div>
          </div>
          <div class="product__2">
            <div>
              <div class="input input--select input--small">
                <label for="country" class="input__label">Quantity:</label>
                <select name="country" id="country" class="input__input">
                  <option>1</option>
                  <option>2</option>
                  <option disabled>-------</option>
                  <option>Delete</option>
                </select>
              </div>
            </div>
            <div class="product__price"><b>$1,234.56</b></div>
          </div>
        </div>
        <div class="product">
          <div class="product__1">
            <div class="product__thumbnail"></div>
            <div class="product__details">
              <div style="margin-bottom: 8px;"><b>Canvas Print</b></div>
              <div style="font-size: 90%;">Size: <span class="tertiary">12" x 10"</span></div>
              <div style="font-size: 90%;">Frame: <span class="tertiary">0.75"</span></div>
              <div style="font-size: 90%;">Edge: <span class="tertiary">Photo Wrap</span></div>
              <div style="margin-top: 8px;"><a href="#">change</a></div>
            </div>
          </div>
          <div class="product__2">
            <div>
              <div class="input input--select input--small">
                <label for="country" class="input__label">Quantity:</label>
                <select name="country" id="country" class="input__input">
                  <option>1</option>
                  <option>2</option>
                  <option disabled>-------</option>
                  <option>Delete</option>
                </select>
              </div>
            </div>
            <div class="product__price"><b>$1,234.56</b></div>
          </div>
        </div>
        <div class="product">
          <div class="product__1">
            <div class="product__thumbnail"></div>
            <div class="product__details">
              <div style="margin-bottom: 8px;"><b>Canvas Print</b></div>
              <div style="font-size: 90%;">Size: <span class="tertiary">12" x 10"</span></div>
              <div style="font-size: 90%;">Frame: <span class="tertiary">0.75"</span></div>
              <div style="font-size: 90%;">Edge: <span class="tertiary">Photo Wrap</span></div>
              <div style="margin-top: 8px;"><a href="#">change</a></div>
            </div>
          </div>
          <div class="product__2">
            <div>
              <div class="input input--select input--small">
                <label for="country" class="input__label">Quantity:</label>
                <select name="country" id="country" class="input__input">
                  <option>1</option>
                  <option>2</option>
                  <option disabled>-------</option>
                  <option>Delete</option>
                </select>
              </div>
            </div>
            <div class="product__price"><b>$1,234.56</b></div>
          </div>
        </div>
      </div>
      </div>
      <div class="cart__totals">
        <table class="totals">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="collapser">
      <a href="#" class="collapser__label">Add a coupon code</a>
      <div class="collapser__content">
        
        <div class="f">
          <div class="f70">
            <div class="input input--small">
              <label for="couponcode" class="input__label">Coupon code <span class="optional">(optional)</span></label>
              <input id="couponcode" type="text" class="input__input" data-mask=".{5,}" />
              <div class="input__error">Please enter a valid coupon code.</div>
            </div>
          </div>
          <div class="f30">
            <button class="btn btn--small btn--secondary btn--full js-add-gift-card">Add</button>
          </div>
        </div>
        
      </div>
    </div>
            </td>
          </tr>
          <tr>
            <th class="align-left font-normal tertiary">Subtotal</th>
            <td class="align-right">$2,345.60.00</td>
          </tr>
          <tr>
            <th class="align-left font-normal tertiary">Shipping <small>(estimated)<small></th>
            <td class="align-right">$10.00</td>
          </tr>
          <tr>
            <th class="align-left font-normal tertiary">Tax <small>(estimated)<small></th>
            <td class="align-right">$13.00</td>
          </tr>
          <tr>
            <th class="align-left">Total</th>
            <td class="align-right"><b>$3,456.78.00</b></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="tertiary"><small>Estimations based on New York, United States</small></td>
          </tr>
        </tfoot>
      </table>   
      <div class="form__footer">
        <button class="btn btn--secondary first js-toggle-cart">Continue Shopping</button> <button class="btn btn--primary">Pay Now</button>
          </div>
      </div>
    </div>
  </div>
</div>
