$primary: #e2007a;
$secondary: #404b61;
$tertiary: #9da3af;

$error: $primary;
$valid: #41d894;
$warning: #f7cc7e;
$tip: #9bdaed;

* {
    box-sizing: border-box;
    font-family: 'Muli' !important;
}

p {
    margin: 0 0 16px;
}

h2 {
    margin: 0;
}

.paths {
    position: absolute;
    top: 68px;
    left: 40px;
}

.checkout__form {
    position: relative;
    padding: 40px 40px;
    width: 80%;
}

.checkout__summary {
    position: relative;
    padding: 160px 40px;
    width: 40%;
    background: #f7f7f7;
    border-left: 1px solid #ddd;
}

.btn {
    position: relative;
    border: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: rgba(255, 255, 255, .85);
    font-family: 'Muli';
    font-size: 14px;
    line-height: 14px;
    background-color: $secondary;
    cursor: pointer;
    transition: all .15s;
    &:hover

{
    background-color: darken(#5e6b73, 5%);
}

&:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondary, inset 0 0 0 2px #ffffff;
}

&:active {
    transform: scale(.95);
}

&.is-loading {
    .btn__loader

{
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate(-50%, -50%);
}

.btn__label {
    opacity: 0;
    transform: scale(0.75);
}

.btn__icon {
    opacity: 0;
    transform: scale(.75);
}

}
}

.btn--small {
    padding: 10px 16px;
}

.btn + .btn {
    margin-left: 8px;
}

.btn--primary {
    color: #fff;
    // font-weight: 600;
    background-color: $primary;
    &:hover

{
    background-color: darken($primary, 5%);
}

&:focus {
    box-shadow: 0 0 0 2px $primary, inset 0 0 0 2px #ffffff;
}

.btn__icon {
    fill: #fff;
}

}

.btn--transparent {
    padding: 0;
    color: $secondary;
    background-color: transparent;
    &:hover

{
    background-color: transparent;
}

&:focus {
    box-shadow: none;
    text-decoration: underline;
}

.btn__loader .path {
    stroke: $secondary;
}

}


.btn--full {
    width: 100%;
}

.btn__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: $secondary;
    transition: all .5s;
}

.btn__label {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all .5s;
    + .btn__icon

{
    margin-left: 8px;
    margin-right: 0;
}

}

.btn__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    width: 24px;
    height: 24px;
    transform: scale(1.25) translate(-50%, -50%);
    animation: loader 2s linear infinite;
    .path

{
    stroke: #fff;
    stroke-width: 4px;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stroke 1.5s ease-in-out infinite;
}

}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes stroke {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px;
    }

    100% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px;
    }
}


#billing {
    display: none;
    &.is-open

{
    display: block;
}

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    font-family: 'Muli';
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .45s;
    visibility: hidden;
    &.is-open

{
    visibility: visible;
    .modal__background

{
    opacity: 1;
}

.modal__content {
    transform: scale(1);
    opacity: 1;
}

}
}

.modal__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(94, 107, 115, 0.51);
    transition: all .45s;
}

.modal__content {
    position: relative;
    background-color: #fff;
    min-width: 400px;
    max-width: 600px;
    // height: 450px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .2);
    transition: all .45s;
    transform: translate(0, 20px);
    opacity: 0;
}

.modal__header {
    flex: 0 0 auto;
    padding: 30px;
    border-bottom: 1px solid #d7dbde;
}

.modal__heading {
    color: #405461;
    font-size: 24px;
    font-weight: 600;
}

.modal__body {
    flex: 1 1 auto;
    padding: 30px;
}

.modal__footer {
    flex: 0 0 auto;
    padding: 30px;
    border-top: 1px solid #eceff1;
    text-align: right;
    background-color: #f3f5f7;
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    position: relative;
    cursor: pointer;
    &.is-open

{
    .dropdown__label

{
    border-radius: 3px 3px 0 0;
    &::after

{
    transform: rotate(180deg) translate(0, 50%);
}

}

.dropdown__options {
    opacity: 1;
    visibility: visible;
    border-radius: 0 0 3px 3px;
    transform: scaleY(1);
}

}
}

.dropdown__label {
    position: relative;
    padding: 14px 24px;
    border: 1px solid #d7dbde;
    border-radius: 3px;
    transition: all .1s ease;
    &:hover

{
    color: $primary;
}

&::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: grey;
    transition: all .1s ease;
}

}

.dropdown__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #d7dbde;
    border-top-width: 0;
    // opacity: 0;
    // visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all .2s ease;
}

.dropdown__option {
    padding: 14px 24px;
    border-top: 1px solid #d7dbde;
    background-color: #fff;
    transition: all .1s ease;
    &:first-child

{
    border-top-width: 0;
}

&:hover {
    color: $primary;
    background-color: #f6f6f9;
}

}



.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    &.is-selected

{
    .radio__box

{
    border-color: $primary;
    box-shadow: inset 0 0 0 5px #fff;
}

}
}

.radio__box {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    border: 1px solid #d7dbde;
    background-color: $primary;
    box-shadow: inset 0 0 0 10px #fff;
    transition: all .1s ease;
}

.radio__label {
    flex: 1 1 auto;
    padding: 10px;
    transition: all .1s ease;
    &:hover

{
    color: $primary;
}

}


// .product {
    // display: flex;
    // flex-direction: column;
    // border: 1px solid #d7dbde;
    // border-radius: 3px;
    // width: 280px;
    // margin: 20px;
    // background-color: #fff;
    // text-align: center;
    // transition: all .3s;
    // &:hover

{
    // transform: scale(1.05);
    // box-shadow: 0 3px 15px -2px rgba(0, 0, 20, .1);
    //
}

//
}

// .product__header {
    // flex: 0 0 auto;
    // padding: 20px;
    // border-bottom: 1px solid #d7dbde;
    //
}

// .product__heading {
    // color: #405461;
    // font-size: 24px;
    // font-weight: 600;
    //
}

// .product__body {
    // display: flex;
    // flex-direction: column;
    // flex: 1 1 auto;
    //
}

// .product__image {
    // flex: 1 1 auto;
    // padding: 30px;
    //
}

// .product__name {
    // flex: 1 0 auto;
    // padding: 0 20px;
    // margin: 0;
    // color: #405461;
    // font-size: 20px;
    // font-weight: 600;
    //
}

// .product__price {
    // flex: 0 0 auto;
    // padding: 10px 20px 20px;
    // color: $primary;
    //
}

// .product__footer {
    // flex: 0 0 auto;
    // padding: 20px;
    // border-top: 1px solid #eceff1;
    // background-color: #f3f5f7;
    //
}



.grid {
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
}

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eceff1;
}

.is-pressable {
    transition: transform .1s, box-shadow .1s;
    &:focus, &:active

{
    transform: translateY(1px);
}

}


.input {
    position: relative;
    background-color: #fff;
    transition: all .2s;
    // &::after

{
    // content: '';
    // position: absolute;
    // top: 0;
    // right: 0;
    // width: 20px;
    // height: 20px;
    // background: $valid;
    //
}

&.is-active,
&.has-value,
&--select {
    .input__label

{
    font-size: .8em;
    transform: translate(0, -140%);
}

}

&.is-active {
    .input__input

{
    outline: none;
    box-shadow: 0 0 0 2px $secondary;
}

}

&.has-errors {
    margin-bottom: 30px;
    .input__input

{
    box-shadow: 0 0 0 2px $primary;
}

.input__error {
    opacity: 1;
    visibility: visible;
}

}
}

.input--select {
    &::after

{
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    border: 6px solid transparent;
    border-top-color: #666;
    margin-top: 4px;
    transform: translate(0, -50%);
    pointer-events: none;
}

}

.input__icon {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    height: 20px;
    fill: #9da3af;
    transform: translate(0, -50%);
}

.input__label {
    position: absolute;
    top: 50%;
    left: 12px;
    right: 12px;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaa;
    transform: translate(0, -50%);
    transition: all .2s;
}

.input__input {
    position: relative;
    padding: 20px 12px 8px;
    border: 0;
    // background-color: red;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ccc;
    color: $secondary;
    background-color: transparent;
    width: 100%;
    transition: all .2s;
    -webkit-appearance: none;
    &:focus

{
    outline: none;
}

}

.input__error {
    position: absolute;
    top: 100%;
    padding: 8px 12px;
    color: $primary;
    font-size: 14px;
    line-height: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
}

.required {
    color: $primary;
    font-size: .8em;
}

.optional {
    color: $secondary;
    font-size: .8em;
}

.f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *

{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

}

.f--no-margin {
    > *:first-child

{
    margin-bottom: 0;
}

> *:not(:first-child) {
    margin-top: 0;
    margin-bottom: 0;
}

}

.f90 {
    width: calc(90% - 8px);
}

.f80 {
    width: calc(80% - 8px);
}

.f70 {
    width: calc(70% - 8px);
}

.f60 {
    width: calc(60% - 8px);
}

.f50 {
    width: calc(50% - 8px);
}

.f40 {
    width: calc(40% - 8px);
}

.f35 {
    width: calc(35% - 8px);
}

.f30 {
    width: calc(30% - 8px);
}

.f20 {
    width: calc(20% - 8px);
}

.f10 {
    width: calc(10% - 8px);
}

.fauto {
    width: auto;
}



.form {
    position: relative;
}

.form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 24px;
}

.microcopy {
    display: block;
    color: #9da3af;
    font-size: 14px;
    margin-top: 4px;
}

a {
    color: $primary;
}

.checkbox,
.radio {
    position: relative;
}

.checkbox__input,
.radio__input {
    position: relative;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ccc;
    transition: all .2s;
    &::after

{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: all .2s;
    transition-delay: .1s;
}

&:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondary;
}

&:checked {
    box-shadow: 0 0 0 1px $primary, inset 0 0 0 8px $primary;
    &::after

{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

}
}

label {
    cursor: pointer;
}

.pricing {
    td

{
    padding: 8px 0;
}

tbody {
    tr: first-child td

{
    padding-top: 24px;
}

tr:last-child td {
    padding-bottom: 24px;
}

}
}

.pricing__price {
    // font-weight: bold;
    text-align: right;
}

.pricing__label {
    color: #9da3af;
}

.pricing__total {
    font-size: 18px;
    td

{
    color: $secondary;
    padding-top: 24px;
    border-top: 1px solid #ccc;
}

.pricing__price {
    font-size: 24px;
}

}

.pricing__total-localized {
    color: #9da3af;
    .pricing__price

{
    color: $secondary;
}

}

.currency {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #aaa;
}


.radio {
}

.control__input {
    position: relative;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #ccc;
    transition: all .2s;
    &[type=radio]

{
    border-radius: 16px;
    &::after

{
    border-radius: 50px;
}

}

&::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: all .2s;
    transition-delay: .1s;
}

&:focus {
    outline: none;
    box-shadow: 0 0 0 2px $secondary;
}

&:checked {
    box-shadow: 0 0 0 1px $primary, inset 0 0 0 8px $primary;
    &:focus

{
    box-shadow: 0 0 0 2px $secondary, inset 0 0 0 8px $secondary;
}

&::after {
    opacity: 1;
}

}
}

.bar {
    padding: 20px;
}

.control {
    display: flex;
}

.control__input {
    flex: 0 0 auto;
    margin-right: 8px;
}

.control__label {
    flex: 1 1 auto;
}

.control__extra {
    align-self: center;
    flex: 0 0 auto;
    font-weight: bold;
}

.control__icon {
    width: 32px;
    height: 32px;
    fill: $secondary;
}

.block {
    padding: 20px;
    border: 1px solid #ccc;
    & + .block--collapse

{
    display: none;
}

&.is-selected {
    background-color: #f7f7f7;
    & + .block--collapse

{
    display: block;
}

}

&:not(:first-child) {
    border-top-width: 0;
}

&:first-child {
    border-radius: 3px 3px 0 0;
}

&:last-child {
    border-radius: 0 0 3px 3px;
}

}

.block--collapse {
    display: none;
}

.colors {
    display: flex;
}

.color {
    flex: 1 1 auto;
    height: 48px;
    margin: 4px;
    background-color: red;
    &.primary

{
    background-color: $primary;
}

&.secondary {
    background-color: $secondary;
}

&.error {
    background-color: $error;
}

&.valid {
    background-color: $valid;
}

&.warning {
    background-color: $warning;
}

&.tip {
    background-color: $tip;
}

}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.pages {
    display: flex;
    width: 100%;
}

.page {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    padding: 0 2px;
    &.is-active

{
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

}

.page--2 {
    transform: translate(-100%, 0);
}

.page--3 {
    transform: translate(-200%, 0);
}

.page--4 {
    transform: translate(-300%, 0);
}

.summary {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.summary__title {
    flex: 0 0 auto;
    padding-right: 20px;
    font-weight: bold;
}

.summary__content {
    flex: 1 1 auto;
    padding: 0 20px;
    color: #aaa;
}

.summary__extra {
    flex: 0 0 auto;
    padding-left: 20px;
}

.logo {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 200px;
    height: 60px;
    border: 1px solid #eee;
    &::after

{
    content: 'logo';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ddd;
    transform: translate(-50%, -50%);
}

}

.collapser {
    // margin-top: 32px;
    &.is-open

{
    .collapser__label

{
    display: none;
}

.collapser__content {
    display: block;
}

}
}

.collapser__content {
    display: none;
}

.collapser__label {
    position: relative;
}

.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.step {
    width: 60px;
    height: 60px;
    border-radius: 200px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    &.is-complete

{
    background-color: $primary;
    border-color: transparent;
}

}

// .steps__steps {
    // display: flex;
    //
}

// .steps__track,
// .steps__progress {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // height: 8px;
    // border-radius: 3px;
    // border: 1px solid #ccc;
    // background-color: #f7f7f7;
    //
}

// .steps__track {
    // position: relative;
    //
}

// .steps__progress {
    // right: auto;
    // width: 50%;
    // border: 1px solid transparent;
    // background: $primary;
    //
}

// .step {
    // position: absolute;
    // top: 50%;
    // left: 0;
    // width: 20px;
    // height: 20px;
    // border-radius: 24px;
    // background-color: #f7f7f7;
    // border: 1px solid #ccc;
    // transform: translate(-50%, -50%);
    // &:nth-child(2)

{
    // left: 50%;
    //
}

// &:nth-child(3) {
    // left: 100%;
    //
}

// &.is-complete,
// &.is-active {
    // background-color: $primary;
    // border-color: transparent;
    //
}

// &.is-active {
    // background-color: $secondary;
    // &::after

{
    // content: '';
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 10px;
    // height: 10px;
    // border-radius: 20px;
    // background: #fff;
    // transform: translate(-50%, -50%);
    //
}

//
}
//
}

// .step {
    // flex: 1 1 auto;
    // padding: 16px 8px;
    // border: 1px solid #ccc;
    // border-left-width: 0;
    // text-align: center;
    // background-color: #f7f7f7;
    // &:first-child

{
    // border-radius: 3px 0 0 3px;
    // border-left-width: 1px;
    //
}

// &:last-child {
    // border-radius: 0 3px 3px 0;
    //
}

// &.is-active {
    // color: #f7f7f7;
    // border-color: $secondary;
    // background-color: $secondary;
    //
}

//
}

.step__label {
    position: relative;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 80px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    &::after

{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    color: #fff;
    width: 12px;
    height: 12px;
    background: #fff;
    transform: translate(-50%, -50%);
}

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0 8px;
}

.message {
    margin: 24px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    background-color: #f7f7f7;
    &.is-hidden

{
    display: none;
}

&.is-visible {
    display: block;
}

}

.message--info {
    border-color: #95b4d0;
    color: #4688c5;
    background-color: #eff5fb;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}



.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.light {
    color: #9da3af;
}

small {
    font-size: 14px;
    color: #9da3af;
}

.foo {
    display: flex;
    justify-content: flex-end;
}

.foo2 {
    padding-left: 4px;
}

.primary {
    font-weight: normal;
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;
}



.page {
    display: flex;
}

.meh {
    position: relative;
}

.content {
    padding: 50vh 50vw;
}

.cart {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    &.is-hidden

{
    .cart__overlay

{
    opacity: 0;
    visibility: hidden;
}

.cart__contents {
    transform: translate(0, 0);
}

}
}

.meh {
    color: #405461;
    font-family: 'Muli';
}

.cart__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: all .25s ease-in;
    background-color: rgba(0, 0, 0, .5);
}

.cart__contents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 320px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    transition: all .25s ease-in-out;
    transform: translate(-100%, 0);
}

.cart__products,
.cart__totals {
    padding: 28px;
}

.cart__totals {
    background-color: #f7f7f7;
}

.font-normal {
    font-weight: normal;
}

small {
    font-size: 75%;
}



// Products.
.products {
    margin: 24px 0 0;
}

.product {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    &:last-child

{
    padding-bottom: 0;
    border-bottom-width: 0;
}

}

.product__thumbnail {
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.product__details {
    padding-left: 16px;
    flex-grow: 1;
}

.product__name {
    font-weight: bold;
}

.product__stuff {
    margin-top: 8px;
    font-size: 14px;
}

.product__options {
    margin-top: 8px;
    font-size: 14px;
}



// Tables
table {
}

td, th {
    padding-bottom: 12px;
}

tfoot {
    td, th

{
    padding-top: 12px;
}

}



.first {
    order: 1;
}


label + .input {
    margin-left: 8px;
}



// Product
.product {
    display: flex;
    flex-direction: column;
}

.product__1 {
    display: flex;
}

.product__2 {
    display: flex;
    align-items: center;
    padding-top: 16px;
    div

{
    flex: 1 1 auto;
}

}

.product__details {
    display: flex;
    flex-direction: column;
}

.product__price {
    // flex: 1 1 auto;
    text-align: right;
}



.input {
    display: flex;
}


.input--small {
    .input__input

{
    padding: 8px;
}

.input__label {
    // position: relative;
    top: -24px;
    left: 4px;
    // right: auto;
    // padding-right: 4px;
    // font-size: initial;
    transform: none;
}

.input__error {
    padding: 8px;
}

&.is-active,
&.has-errors,
&.has-value {
    .input__label

{
    font-size: initial;
    transform: none;
}

}
}

.input--select {
    &::after

{
    right: 8px;
}

display: inline-block;
// flex: 0 1 auto !important;

.input__input {
    width: auto;
}

.input__label {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    padding-right: 4px;
    font-size: initial;
    transform: none;
}
